<ion-app>

 
  <ion-header>
    <ion-toolbar>
        

        <ion-title>Conference DevFest</ion-title>

        <ion-buttons slot="secondary">
          <ion-button>
            <ion-icon slot="icon-only" name="menu"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-select interface="popover">
            <ion-select-option value="nes">NES</ion-select-option>
            <ion-select-option value="n64">Nintendo64</ion-select-option>
            <ion-select-option value="ps">PlayStation</ion-select-option>
            <ion-select-option value="genesis">Sega Genesis</ion-select-option>
            <ion-select-option value="saturn">Sega Saturn</ion-select-option>
            <ion-select-option value="snes">SNES</ion-select-option>
          </ion-select>
      </ion-toolbar>
    </ion-header>

    
    <ion-content>

  <ion-router-outlet></ion-router-outlet>

</ion-content>

</ion-app>
